<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- ★ 新增权限：允许读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- ★ 新增权限：允许网络访问 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamQuestionBank"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ExamQuestionBank.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".QuestionBankSelectActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".MainNavActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".ManualImportActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".PracticeRecordsActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".WrongQuestionsActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".PracticeModeSelectActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".SequentialPracticeActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".RandomPracticeActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".SimulationExamActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".SimulationExamActivity2"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".WrongQuestionDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".AccountManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".UserAgreementActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.ExamQuestionBank" />
    </application>

</manifest>